li.active a,
.app:not(.small-menu) .main-navigation > ul > li > ul > li.active a{
  color: #f5ec15;
}
#searchform .col-xs-1,
#searchform .col-xs-2
{
  padding-left: 2px;
  padding-right: 2px;
}
.pagination{
  margin: 0px;
}
.footertable{
  margin-top: 10px;
  border-top: 3px solid #eeeff8;
  padding-top: 10px;
}
.clear{clear: both;}
#file {
    background-color: #f9ffe5;
    border: 1px dashed #123456;
    color: green;
    padding: 5px;
}
#uploadImage {
    background-color: #f9ffe5;
    border: 1px dashed #123456;
    color: green;
    padding: 5px;
}
.abcd{
  float: left;
}
.abcd img {
    border: 1px solid rgb(232, 222, 189);
    width: 200px;
    height: 150px;
    padding: 5px;
}
.listimg img {
    border: 1px solid rgb(232, 222, 189);
    /*width: 200px;*/
    /*height: 150px;*/
    padding: 5px;
}
#imgs {
    border: medium none;
    height: 25px;
    margin-bottom: 150px;
    margin-left: -15px;
    width: 25px;
    cursor: pointer;
}
#listimgs {
    border: medium none;
    height: 20px;
    margin-bottom: 75px;
    margin-left: -15px;
    width: 20px;
    cursor: pointer;
}
.margin-10{
  margin-bottom: 5px;
}
.upload{
  margin-bottom: 10px;
}
.full-width{
  width: 100%;
  height: 34px;
  background-color: #fff;
}
.select2-default{
  height: 34px;
}
.select2-container .select2-choice {
  border: none;
  padding-top: 4px;
  height: 34px;
}
.select2-arrow{
  padding-top: 4px;
  height: 34px;
  padding-bottom: 4px;
}

/* TABLE LIST */
.table_list{
  width: 100%;
  border: 1px solid #eee;
}
.table_list thead tr td{
  border-bottom: 1px solid #eee;
  font-weight: bold;
  padding: 4px;
}
.table_list tbody tr td{
  border-bottom: 1px solid #eee;
  font-weight: bold;
  padding: 4px;
}