ul, ol {
    margin-left: -40px;
}
ul.bxslider, ol {
    margin-left: 0px;
}
.pgwSlideshow .ps-current > ul > li {
    margin-left: 0px;
}
.nomargin {
    font-weight: bold;
    margin-top: 0;
}

#toast-container > .toast {
    /*background-image: none !important;*/
    font-size: 13px;
}

.breadcrumb > li + li::before {
    color: #ccc;
    content: "/";
    padding: 0 5px;
}

.btn:hover, .btn:focus , .btn.focus {
	color: #fff;
}

.activeprofil{
    background:#EEEEEE;
    cursor:pointer;
    width:100%;
    list-style:none;
    font-weight:bold;
    text-align:center;
    padding:10px 0;
    border-bottom:1px solid #CCC;
}
a > div.side-profil{
    color: #666 !important;
}
a > div.side-profil.activeprofil{
    /*color: #fff !important;*/
}
.mt-100{
    margin-top: 100px;
}
.mb-100{
    margin-bottom: 100px;
}
.mb-15{
    margin-bottom: 15px;
}
.mt-15{
    margin-top: 15px;
}
.head-detail {
    margin-bottom: 30px;
}

.des-info {
    background: #ed1c24 none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    left: 0;
    min-height: 19px;
    padding: 4px 0 0;
    position: absolute;
    width: 230px;
}

.head-border {
    padding: 8px 25px;
}

.box-img:hover{
  /*opacity:0.5;*/
  background-color: black;
}
.img-responsive:hover{
  opacity:0.8;
  /*background-color: red;*/
}

.box-S-product {
    padding: 15px 6px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #ED1C24;
    border-color: #ED1C24;
}

.box-other {
    padding: 15px 8px;
}
a.btn-mau-p {
    background: #ED1C24;
    border: 1px solid #ED1C24;
    color: #FFF;
}
a.btn-mau-p:hover{
    background:#FFF;
    border:1px solid #909090;
    color:#ED1C24;
}
.box-item-ukm{
    border: 1px solid #d6d6d6;
    display: block;
    padding: 10px 15px;
}