/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);


body{
	margin:0;
	padding:0;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size:15px;
	background:#fff;
	color:fff;
}
.header{
	width:100%;
	min-height:90px;
	margin:auto;
	padding:auto;
	border-bottom:1px solid #dcdcdc;
}

.bg-form{
	background:url(../images/Bg-from.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height:60vh;
}
.bg-search{
	background:url(../images/Bg-from.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height:30vh;
}
.bg{
	background:url(../images/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height:100vh;
}
.bg-detail{
	background:url(../images/bg-produk.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height:200px;
}
.navbar {
	font-size:14px;
	font-weight:300;
}
.navbar-right{
	margin-top:20px;
}

.cart{
	border:1px solid #d3d3d3;
}
.cart-no{
	width:19px;
	height:19px;
	background:#ed1c24;
	color:#fff;
	border-radius:50%;
	text-align:center;
}

.form-bg{
	width:100%;
	margin:auto;
	padding:auto;
	background:rgba(255,255,255, 0.8);
	padding:10px;
}
.btn-search{
	height:50px;
	background:#ed1c24;
	border-radius:0;
	border:1px solid #c20e15;
	color:#fff;
	text-shadow:1px 1px #000;
	letter-spacing:2px;
	font-weight:bold;
	font-size:17px;
}
.btn-search:hover{
	background:#fc2830;
	color:#fff;
}
.ft-red{
	color:#ed1c24;
}
.ft-head3{
	color:#fff;
	text-align:center;
	text-shadow:1px 1px #000;
	font-size:50px;
	font-weight:700;
}
.ft-head4{
	text-align:center;
	font-weight:800;
	text-transform:uppercase;
	color:3c3c3c;
	font-size:25px;
}
.form-des{
	text-align:center;
	color:#fff;
	text-shadow:1px 1px #000;
}
.des-ngetren{
	text-align:center;
	font-weight:300;
	color:#5e5e5e;
}
.box-img{
	position:relative;
	width:100%;
	height:auto;
}
.des-info{
	position:absolute;
	width:230px;
	background:#ed1c24;
	min-height:100px;
	bottom:0;
	left:0;
	padding:10px 10px 15px 10px;
	color:#fff;
	font-weight:300;
	font-size:15px;
}
a.ttl-produk{
	color:#fff;
	text-transform:uppercase;
	font-size:18px;
}
a.ttl-produk:hover{
	color:#fff600;
	text-decoration:none;
}
a.btn-mau-s{
	background:none;
	border:1px solid #fff;
	padding:5px 15px;
	color:#fff;
	text-align:center;
	letter-spacing: 2px;
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
a.btn-mau-s:hover{
	background:#fff;
	border:1px solid #fff;
	color:#ed1c24;
	text-decoration:none;
}
.btn-terjual-s{
	background:none;
	border:1px solid #fff;
	padding:5px 10px;
	color:#fff;
	text-align:center;
	margin-left:5px;
}
.box-S-product{
	padding:15px 0;
	width:100%;
}
a.name-product{
	font-size:15px;
	text-transform:uppercase;
	color:#363636;
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
a.name-product:hover{
	font-size:15px;
	color:#ed1c24;
	text-decoration:none;
}

.price-home{
	text-transform:uppercase;
	font-size:15px;
}
.box-other{
	font-weight:300;
	padding:15px 0;
	border-top:1px solid #d3d3d3;
	border-bottom:1px solid #d3d3d3;
}
a.btn-mau-p{
	background:none;
	border:1px solid #909090;
	color:#333;
	padding:4px 10px;
	float:right;
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
a.btn-mau-p:hover{
	background:#ed1c24;
	border:1px solid #909090;
	color:#fff;
	padding:4px 10px;
	float:right;
	text-decoration:none;
}
.big-info{
	font-size:50px;
	color:#ed1c24;
	text-align:center;
	font-weight:800;
}
.box-info-ukm{
	text-align:center;
	font-size:15px;
	font-weight:300;
	color:#3f3f3f;
}
a.btn-daftar{
	text-align:center;
	padding:15px 30px;
	color:#fff;
	letter-spacing:5px;
	background:#00a651;
	border:1px solid #036231;
	text-shadow:1px 1px #000;
	margin:0;
}
a.btn-daftar:hover{
	color:#fff;
	background:#036231;
	text-decoration:none;
}
.clear{
	clear:both;
}
.txt-daftar{
	font-size:13px;
	font-weight:300;
	margin-top:15px;
}
.bg-partner{
	width:100%;
	background:#f9f9f9;
	padding:20px 0;
}
.head-partner{
	border-bottom:1px solid #d3d3d3;
	width:100%;
	text-align:center;
	padding-bottom:20px;
	margin-bottom:15px;
	font-weight:bold;
	font-size:20px;
}
.footer{
	width:100%;
	background:#232323;
	color:#fff;

	padding:40px 0;
}
.head-footer{
	width:100%;
	padding:10px 0;
	background:#1e1e1e;
	text-align:center;
	font-weight:bold;
	color:#fff;
}
ul.nav-footer{
	font-size:14px;
	color:#fff;
	text-transform:uppercase;
	margin-left:-43px;
}
ul.nav-footer li{
	list-style:none;
	margin:5px 0;
	text-align:center;
}
ul.nav-footer li a{
	color:#fff;
}
.copyright{
	background:#151515;
	width:100%;
	padding:20px 0;
	color:#fff;
	text-align:center;
	font-weight:300;
	font-size:13px;
}

.head-detail{
	border:1px solid #fff;
	padding:10px 25px;
	color:#fff;
	background:none;
	text-align:center;
	display:inline-block;
	font-size:50px;
	font-weight:300;
	margin-top:50px;
}
.filter{
	border:1px solid #dcdcdc;
	padding:20px 15px;
	width:100%;
	margin:30px 0;
}
.location{
	position:absolute;
	max-width:150px;
	min-height:30px;
	background:#ed1c24;
	color:#fff;
	padding:5px 15px;
	bottom:0;
	left:0;
}
.ft-yellow{
	color:#ffba00;
}
.captcha{
	max-height:45px;
	float:right;
}
.btn-kontak{
	background:#0067be;
	color:#fff;
	letter-spacing:3px;
	text-shadow:1px 1px #000;
	text-align:center;
	font-size:17px;
	padding:12px 0;
	border:1px solid #004f91;
	border-radius:0;
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
.btn-kontak:hover{
	background:#0075d7;
	color:#fff;
	cursor:pointer;
}
.btn-mau-b{
	min-height:40px;
	background:#ed1c24;
	border-radius:0;
	border:1px solid #c20e15;
	color:#fff;
	text-shadow:1px 1px #000;
	letter-spacing:2px;
	font-weight:bold;
	font-size:17px;
	padding:8px 20px;
}
.btn-mau-b:hover{
	background:#fc2830;
	color:#fff;
}
.info-product{
	display:inline-block;
	padding:5px 15px;
	background:none;
	border:1px solid #d3d3d3;
	font-weight:bold;
	color:#4a4a4a;
	margin-right:5px;
}
.info-product-s{
	display:inline-block;
	padding:3px 12px;
	background:none;
	border:1px solid #d3d3d3;
	font-weight:bold;
	color:#4a4a4a;
	font-size:13px;
	margin-right:5px;
}
.head-comment{
	font-size:22px;
	font-weight:bold;
	text-transform:uppercase;
	color:#4a4a4a;
}
.box-side-product{
	border:1px solid #cccccc;
	padding:15px;
}
.ttl-side{
	font-size:17px;
	font-weight:300;
	text-align:center;
	margin-bottom:15px;
}
.box-grey{
	background:#f8f8f8;
	padding:15px;
}
.btn-konfirmasi{
	display:inline-block;
	color:#fff;
	border-radius:0;
	text-shadow:1px 1px #000;
	letter-spacing:2px;
	text-transform:uppercase;
	font-weight:300;
	font-size:17px;
	background:#ed1c24;
	padding:10px 30px;
}
.bold-search{
	font-size:15px;
	font-weight:bold;
	display:block;
}
a.ttl-pro-search{
	font-weight:300;
	font-size:20px;
	text-transform:uppercase;
	color:#ed1c24;
}
.ttl-pro-search:hover{
	text-decoration:none;
	color:#8e090e;
}
.des-search{
	font-size:13px;
	font-weight:300;
}
.box-link{
	text-align:center;
	font-size:22px;
	color:#7c7c7c;
	padding:30px 30px 0 30px;
}
.box-link p{
	font-size:15px;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.produk-des{
	font-size:13px;
	font-weight:300;
	line-height:20px;
}
.ttl-detail-produk{
	text-transform:uppercase;
	font-size:13px;
	font-weight:bold;
	margin-bottom:5px;
}
.item-produk{
	display:block;
	background:#efefef;
	padding:7px ;
	font-size:14px;
	text-align:center;
	color:#333;
}
a.ttl-keranjang{
	font-weight:600;
	color:#333;
}
.ttl-keranjang:hover{
	font-weight:600;
	color:#ed1c24;
	text-decoration:none;
}
.head-border{
	border:1px solid #d6d6d6;
	display:inline-block;
	padding:10px 30px;
	font-weight:300;
	font-size:17px;
}
.box-border{
	border:1px solid #d6d6d6;
	display:block;
	padding:15px;
}
.box-alur{
	text-align:center;
	font-weight:bold;
	font-size:15px;
}
.box-alur img{
	margin-bottom:10px;
}
.box-alur p{
	text-align:center;
	font-weight:300;
	font-size:13px;
}
.head-total{
	font-size:13px;
	font-weight:bold;
}
.ft-total{
	font-size:13px;
	background:#f6f6f6;
	padding:10px;
	margin:10px 0;
}
.border-left{
	border-left:1px solid #d3d3d3;
}
.border-right{
	border-right:1px solid #d3d3d3;
}
.img-profil{
	max-width:100%;
}
.img-profil img{
	width:100%;
}
.side-profil{
	width:100%;
	list-style:none;
	font-weight:bold;
	text-align:center;
	padding:10px 0;
	border-bottom:1px solid #CCC;
}
.side-profil:hover{
	background:#CCC;
	cursor:pointer;
}
.side-profil a{
	color:#666;
}
.side-profil a:hover{
	color:#ed1c24;
	text-decoration:none;
}
.ft-profil{
	color:#ed1c24;
	display:block;
	font-weight:bold;
}
.box-item{
	border:1px solid #d6d6d6;
	display:block;
	padding:15px;
	min-height:100px;
}
.diproses, .dikirim, .diterima{
	display:block;
	padding:5px 10px;
	color:#333;
	font-size:13px;
	font-weight:bold;
	border-radius:3px;
	text-align:center;
}
.diproses{
	background:#ffc209;
	border:1px solid #dda808;
}
.dikirim{
	background:#15ff09;
	border:1px solid #10c606;
}
.diterima{
	background:#09c2ff;
	border:1px solid #0386b1;
}
.des-static{
	font-weight:300;
}
h1, h2, h3, h4, h5, h6{
	font-weight:bold;
}
/* ==========================================================================
   Login & Register
   ========================================================================== */
.bg-white{
	background:rgba(255,255,255, .8);
	width:100%;
	padding:20px;
}
.border{
	border-bottom:1px solid #666;
}
.login-ttl{
	margin-top:30px;
	font-size:25px;
	color:#333;
	font-weight:300;
}
.login-des{
	font-size:14px;
	font-weight:300;
}
.btn-login{
	padding:10px 0;
	color:#fff;
	font-weight:bold;
	text-shadow:1px 1px #000;
	text-align:center;
	background:#ed1c24;
	border:1px solid #a60a10;
	border-radius:0;
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
.btn-login:hover{
	background:#a60a10;
	text-decoration:none;
	color:#CCC;
}
a.btn-facebook, a.btn-twitter{
	width:100% !important;
	text-align:center;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	text-shadow:1px 1px #000;
	padding:10px;
	letter-spacing:2px;
	display:block;
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
a.btn-facebook{
	background:#3a589e;
	border:1px solid #112c6c;
}
a.btn-facebook:hover{
	background:#112c6c;
	text-decoration:none;
	border:1px solid #112c6c;
}
a.btn-twitter{
	background:#5ea9dd;
	border:1px solid #2572a7;
}
a.btn-twitter:hover{
	background:#2572a7;
	text-decoration:none;
	border:1px solid #2572a7;
}
.ft-error{
	font-weight:bold;
	color:#ff0909;
	text-align:center;
	font-size:73px;
}
.des-error{
	text-align:center;
	font-weight:300;
	font-size:20px;
}
a.btn-error{
	border:1px solid #666;
	padding:10px 40px;
	display:inline-block;
	margin-bottom:40px;
	color:#666;
}
.btn-error:hover{
	text-decoration:none;
	background:#CCC;
	color:#ed1c24;
}
/* ==========================================================================
   Bootstrap Overwrite
   ========================================================================== */
.table{
	margin-bottom: 0;
}
.nav {
	font-size:14px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 8px 25px;
  color:#5c5c5c;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}


.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background:#d3d3d3;
}
.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
textarea.form-control {
  min-height: 100px;
  resize:none;
}
.form-search {
  display: block;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-search:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-search::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-search:-ms-input-placeholder {
  color: #999;
}
.form-search::-webkit-input-placeholder {
  color: #999;
}
.form-search[disabled],
.form-search[readonly],
fieldset[disabled] .form-search {
  background-color: #eee;
  opacity: 1;
}
.form-search[disabled],
fieldset[disabled] .form-search {
  cursor: not-allowed;
}
textarea.form-search {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
.border-bottom{
	border-bottom:1px solid #dcdcdc;
}
.breadcrumb {
  padding: 10px 15px;
  margin-bottom: 0;
  font-size:13px;
  text-transform:uppercase;
  font-weight:300;
  list-style: none;
  background-color: #fff;
  border-radius: 0;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "\e080";
}
.breadcrumb > .active {
  color: #777;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 0;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: 5px;
  line-height: 1.42857143;
  color: #8a8a8a;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  -moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #fff;
  background-color: #ed1c24;
  border-color: #ab050c;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
/* ==========================================================================
   Margin & padding
   ========================================================================== */

.margin-top-10{
	margin-top:10px;
}
.margin-top-20{
	margin-top:20px;
}
.margin-top-30{
	margin-top:30px;
}
.margin-top-40{
	margin-top:40px;
}

.margin-bottom-10{
	margin-bottom:10px;
}
.margin-bottom-20{
	margin-bottom:20px;
}
.margin-bottom-30{
	margin-bottom:30px;
}
.margin-bottom-40{
	margin-bottom:40px;
}
.margin-logo{
	margin-top:60px;
}
.margin-form{
	margin-top:15vh;
}
.no-padding{
	padding-left:0;
	padding-right:0;
}
.no-padding-left{
	padding-left:0;
}
/* ==========================================================================
   Logo Slider
   ========================================================================== */
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
    background:none;
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:100px;
    max-height:45px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 22px;
    height: 22px; 
    position: absolute;
    cursor: pointer;
    z-index: 999999;
    opacity: 0.5;
}

.nbs-flexisel-nav-left {
    left: 10px;
    background: url(../images/button-previous.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: 5px;
    background: url(../images/button-next.png) no-repeat;
}

/* ==========================================================================
   Responsive
   ========================================================================== */

@media (max-width: 991px) {
	.formgroup {
		padding:15px;
	}
	.form-res {
		margin-bottom:15px;
	}
	.margin-form {
    	margin-top: 3vh;
	}
	.ft-head3 {
    	font-size: 30px;
	}
	.box-img {
    	margin-bottom: 20px;
	}
	.des-info {
    	position: relative;
    	width: auto;
	}
	.navbar {
    margin-bottom: 0px;
	}
	.header {
    	min-height: 0;
	}
	.navbar-brand > img {
    	max-width: 100px;
	}
	.navbar-right {
    	margin-top: 0;
	}
	.margin-logo {
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
	.info-product {
		font-size: 10px;
	}
	.no-padding-left {
		padding-left: 15px;
		padding-top:15px;
	}
	.box-link {
    	padding: 0;
	}
	.box-border {
		overflow: auto;
		margin-bottom: 15px;
	}
	.box-item {
		min-height: 0;
		margin-bottom: 15px;
	}
	.btn-mau-b {
		font-size:14px;
	}
	.box-grey {
		overflow: auto;
	}
	.ft-error {
		font-size: 30px;
	}
	.hidesearch{
		display: none;
	}
}